<h1>Guardar Marcador</h1>
<%= render 'marks/form', mark: @mark %>
<br>
<div>
  <%= link_to 'Go to Categories', categories_path %>
  <%= link_to 'Go to Types', types_path %>
</div>
<hr>
<br>
<h1>Marcadores</h1>
<div>
  <table>
    <thead>
      <tr>
        <th>Url</th>
        <th>Category</th>
        <th>Type</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody id="my_marks">
      <%= render @mark %>
    </tbody>
  </table>
</div>
